body {
  background-color:black ;
  color: #FFF0F5	;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 19px;
}
header {
    background-image: url("../images/gasoline.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
h1 {
    text-align: center;
    align-items: center;
    font-size: 100px;
    color: black;
    top: 80px;
    position: absolute;
    left: 150px;
    font-family: Times, 'Times New Roman';
    font-weight: 900px;
}
.quote > p {
      left: 150px;
      color: blue;
      font-size: 40px;
      text-align: center;
      font-family: Times, 'Times New Roman';
}
nav {
    float: right;
    list-style: none;
    margin-top: 35px;
}
nav li {
    display: inline-block;
}
nav li a:hover {
    border: 3px solid blue;
}
nav li a {
    color: yellowgreen;
    text-decoration: none;
    font-size: 30px;
    padding: 5px;
    border-bottom: 1px solid black;
}
.about > p {
    text-align: center;
    font-size: 30px;
    color: black;
    font-family: Times, 'Times New Roman';
    font-weight: bolder;
  }
#me {
    background-image: url("../images/siliconcylinder.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center;
  }
h2{
      text-align: center;
      font-size: 70px;
      color: rgb(46, 1, 1);
      top: 200px;

  }
#services {
    background-image: url("../images/gas\ delivery.jpeg");
    height: 200vh;
    background-size: cover;
    background-position: center;
  
  }
h3 {
    text-align: center;
    font-size: 70px; 
    color:rgb(46, 1, 1);
  }
h4 {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    color:rgb(53, 88, 1);
    font-size: 35px;
    font-style: italic;
  }
.brands > p {
      font-size: 25px;
      color: black;
      font-family: Times, 'Times New Roman';
      text-align: left;
  }
#products {
  background-image: url("../images/cylindercover.jpg");
  height: 200vh;
  background-size: cover;
  background-position: center;
}
h5, h6 {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    color: white;
    font-size: 30px;
    font-style: italic;
}
.first {
    float: left;
    align-items: center;
    text-align: center;
  }
.second {
    float: right;
    text-align: center;
    align-items: center;
}
.third {
  float: center;
  align-items: center;
  text-align: center;
}
.forth {
  float: left;
  align-items: center;
  text-align: center;
  padding-left: 100px;
}
.fifth {
  float: right;
  align-items: center;
  text-align: center; 
  padding-right: 200px;
}
footer{
  background-image: url("../images/gas\ delivery.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4em;
  text-align:center;
  color: black;
  z-index: auto;
  opacity: 0.8;
}
p{
  
  font:italic bold 20px 'Open Sans',serif;
  text-align: center;
}

