body {
  background: linear-gradient(to right, #9c27b0, #8ecdff); 
  margin: 0;
  padding: 0;
}
h1 {
    text-align: center;
    align-items: center;
    font-size: 100px;
    color:blue;
    top: 80px;
    position: absolute;
    left: 150px;
    font-family: Times, 'Times New Roman';
    font-weight: 900px;
}
.quote > p {
      left: 150px;
      color: black;
      font-size: 40px;
      text-align: center;
      font-family: Times, 'Times New Roman';
}
nav {
    float: right;
    list-style: none;
    margin-top: 35px;
}
nav li {
    display: inline-block;
}
nav li a:hover {
    border: 3px solid blue;
}
nav li a {
    color: black;
    text-decoration: none;
    font-size: 30px;
    padding: 5px;
    border-bottom: 1px solid white;
}
.about > p {
    text-align: center;
    font-size: 30px;
    color: black;
    font-family: Times, 'Times New Roman';
    font-weight: bolder;
  }
#products {
  background: #ffffff;
}
.products img {
  width: 200px;
  height: 200px;
}  
h2 {
      text-align: center;
      font-size: 70px;
      color: blue;
      top: 200px;
      font-style: italic;
  }
h3 {
    text-align: center;
    font-size: 70px; 
    color:blue;
    font-style: italic;
  }
.brands > p {
      font-size: 25px;
      color: black;
      font: italic bold Times, 'Times New Roman';
      text-align: left;
  }
.branda img {
  width: 200px;
  height: 200px;
}  
.accessories img {
  width: 150px;
  height: 120px;
}
.first {
    float: left;
    align-items: center;
    text-align: center;
}
.second {
    float: right;
    text-align: center;
    align-items: center;
}
.third {
  float: center;
  align-items: center;
  text-align: center;
}
.forth {
  float: left;
  align-items: center;
  text-align: center;
  padding-left: 100px;
}
.fifth {
  float: right;
  align-items: center;
  text-align: center; 
  padding-right: 200px;
}
.sixth {
  float: center;
  align-items: center;
  text-align: center;
}
.products > p {
  font-size: 25px;
  color: blue;
  font: italic bold Times, 'Times New Roman';
  text-align: left;
}
.accessories > p {
  font-size: 25px;
  color: blue;
  font: italic bold Times, 'Times New Roman';
  text-align: left;
}
footer {
  background: #55ffe5;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
.info {
 width: 80%;
 margin: 14px;
 
}
.contact-box {
  background: #ffffff;
  display: flex;
}
.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}
.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background: #1c00b5;
  color: #ffffff;
}
h4 {
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times;
  font-size: 30px;
}
.info p {
  margin-bottom: 40px;
}
.input-row {
  justify-content: space-between;
  display: flex;
  margin-bottom: 20px;
}